<!-- Footer Area -->
<tr style="background-color: #ffffff;">
    <td style="padding: 0 50px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="font-size: 13px; color: #666666; line-height: 1.6; padding: 50px 0; border-top: 1px solid #dddddd; text-align: center;">
                    <p>
                        발신전용으로 회신되지 않으므로 수신을 원치 않으시면 수신거부를 클릭하십시오.<br/>
                        (If you don’t want to receive this e-mail anymore, click unsubscribe from this list)
                    </p>                                             
                    <p>
                        (주)에이팀벤처스<br/>
                        <span style="margin-right: 5px;"><b>대표</b> 고산</span>
                        <span style="margin-right: 5px;"><b>주소</b> 서울특별시 서초구 나루터로60(잠원동, 정원빌딩), 3층</span>
                        <span style="margin-right: 5px;"><b>사업자등록번호</b> 101-86-83458</span><br/>
                        <span style="margin-right: 5px;"><b>통신판매신고번호</b> 2017-서울서초-1387</span>
                        <span style="margin-right: 5px;"><b>전화</b> 02-743-6322</span>
                        <span style="margin-right: 5px;"><b>팩스</b> 02-6442-5450</span><br/>
                        <span style="margin-right: 5px;"><b>이메일</b> support@creatable.com</span>
                    </p>
                    <p>
                        ©ATEAM Ventures Co.,Ltd
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>