<!-- Two Columns -->
<tr style="background-color: #ffffff;">
    <td style="padding: 0 50px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="font-size: 14px; color: #666666; line-height: 1.8; padding: 50px 0; border-top: 1px solid #dddddd;">
                    <h2 style="font-size: 16px; margin: 0 0 5px 0;">초기 스타트업을 위한 제조 노하우와 특허 전략 발표</h2>
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="265" valign="top">
                                <img src="http://placehold.it/265x183" width="100%"/>
                                <p style="padding: 0; margin: 0">XRE 캔 뚜껑 제작, 국내외 제조과정</p>
                                <p style="padding: 0; margin: 0">재밀봉 캔 뚜껑, XRE 서진혁 대표</p>
                                <p style="padding: 0; margin: 0">시제품 만들기까지 1년, 중국 양산 성공까지 6년의 시간을 견뎌 로열티 금맥을 찾아낸 XRE의 서진혁 대표. 아이디어/시제품 단계에서 하드웨어 스타트업에 필요한 제조 노하우와 정보를 공유할 예정입니다. </p>
                            </td>
                            <td style="font-size: 0; line-height: 0" width="20">&nbsp;</td>
                            <td width="265" valign="top">
                                <img src="http://placehold.it/265x183" width="100%"/>
                                <p style="padding: 0; margin: 0">XRE 캔 뚜껑 제작, 국내외 제조과정</p>
                                <p style="padding: 0; margin: 0">재밀봉 캔 뚜껑, XRE 서진혁 대표</p>
                                <p style="padding: 0; margin: 0">시제품 만들기까지 1년, 중국 양산 성공까지 6년의 시간을 견뎌 로열티 금맥을 찾아낸 XRE의 서진혁 대표. 아이디어/시제품 단계에서 하드웨어 스타트업에 필요한 제조 노하우와 정보를 공유할 예정입니다. </p>
                            </td>
                        </tr>
                    </table>
                    
                </td>
            </tr>
        </table>
    </td>
</tr>
