<!-- Youtube Video -->
<tr style="background-color: #ffffff;">
    <td style="padding: 0 50px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="font-size: 14px; color: #666666; line-height: 1.6; padding: 50px 0; border-top: 1px solid #dddddd; text-align: center;">
                    <h2 style="font-size: 16px; margin: 0 0 10px 0; text-align: left;">제1회 하드웨어 얼라이언스 행사 현장</h2>
                    
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Z-_bRdsaAwE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div style="background-color: #223149; display: inline-block; padding: 10px 40px 8px 40px; margin-top: 15px;">
                        <a href="#" style="color: #ffffff; text-decoration: none;">참가신청하기</a>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>